<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Login</h1>

    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for mensagem in mensagens %}
                <p>{{ mensagem }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Usuário:</label>
        <input type="text" name="usuario" required>

        <br><br>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <br><br>

        <button type="submit">Entrar</button>
    </form>

</body>
</html>